*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(14, 10, 36);
   padding-top:5%;
}
div.container{
    width:60%;
    background-color:white;
    margin:auto;
    padding: 2%;
}
table{
    width:100%;
}
table,tr,th,td{
    border:3px solid rgb(24, 17, 66);
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even){
   background-color: aquamarine; 
}
div.formdata{
    margin:15px;
    background-color: rgb(119, 250, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
div.input-group{
    margin-top:20px;
    
}
input{
    width:100%;
    padding: 10px;
    border-radius: 5px;
    outline:none;
    border: none;
    margin: auto;
}
